{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'pagina_web/stylelogin.css' %}">
    <title>Login mi libreria personal</title>
</head>
<body>
    <div class="container" style="width: auto; display: flex; flex-direction: column; align-items: center;">
        
        {% if mensaje %}
            <p class="error">{{ mensaje }}</p>
        {% endif %}

        <h2>Inicio de sesión</h2>

        <form method="post" action="{% url 'login' %}" style="display: flex; flex-direction: column; align-items: center; gap: 25px;">
            {% csrf_token %}
            
            <label for="email">email:</label>
            <input type="email" id="email" name="email" required>
            
            <label for="password">Contraseña:</label>
            <input type="password" id="password" name="password" required>
            
            <button type="submit">Iniciar la sesión</button>
        </form>
        <form action="{% url 'registro' %}" method="POST">
            <p>si no tienes una cuenta</p>
            {% csrf_token %}
            <button type="submit">Regístrate aquí</button>
        </form>
        
    </div>
</body>
</html>